.hero{
    background-color: $veryLightGray;
    
    .container{
        @include breakpoint-up(large){
            display: flex;
            align-items: center;
        }
    }

    &-image{
        position: relative;
        background-image: url('../images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        &:after{
            content: "";
            position: absolute;
            background-image: url('../images/image-mockups.png');
            background-repeat:no-repeat;
            background-position: center bottom;
            background-size: 93%;
            width: 100%;
            height: 100%;
        }

        @include breakpoint-up(medium){
            min-height: 30rem;
        }

        @include breakpoint-up(large){
            flex:3;
            order:2;
            min-height: 41.5rem;
            background-image: none;

            &:before{
                content:"";
                position: absolute;
                background-image: url('../images/bg-intro-desktop.svg');
                background-size: 124%;
                background-repeat: no-repeat;
                background-position: -3% 76%;
                height: 100%;
                width:150%
            }

            &:after{
                width: 120%;
                height: 122%;
                background-size: 94%;
                background-position: 100% 150%;
                left: 22%;
            }
        }
    }

    &-content{

        @include breakpoint-up(large){
            flex:2;
            order:1;
            text-align: left;
        }

        p{
            margin-bottom:2.1875rem;

            @include breakpoint-up(large){
                margin-bottom: 2.5rem;
            }
        }

        button{
            margin-bottom: 2.5rem;
        }
    }

}
